In [ ]:
## Series

In [3]:
import pandas as pd
import numpy as np

In [4]:
arr = np.arange(100, 110)
print(arr)

[100 101 102 103 104 105 106 107 108 109]

In [9]:
s = pd.Series(arr)
print(s)

0    100
1    101
2    102
3    103
4    104
5    105
6    106
7    107
8    108
9    109
dtype: int64

In [13]:
s = pd.Series(arr, dtype='float32')
print(s)

0    100.0
1    101.0
2    102.0
3    103.0
4    104.0
5    105.0
6    106.0
7    107.0
8    108.0
9    109.0
dtype: float32

In [14]:
pd.Series(['kim', 'lee', 'park'])

0     kim
1     lee
2    park
dtype: object

In [17]:
s = pd.Series([1, 2, 3, '1', '2', 'hello'])
print(s)
print(type(s[0]))
print(type(s[4]))

0        1
1        2
2        3
3        1
4        2
5    hello
dtype: object
<class 'int'>
<class 'str'>

In [18]:
s[-1] # 양수인덱싱 불가능

KeyError: -1

In [19]:
s.index

RangeIndex(start=0, stop=6, step=1)

In [20]:
names = pd.Series(['kim', 'lee', 'park'], index=['a', 'b', 'c'])
print(names)

a     kim
b     lee
c    park
dtype: object

In [23]:
names['a']

'kim'

In [25]:
names.iloc[0]

'kim'

In [26]:
names.index

Index(['a', 'b', 'c'], dtype='object')

In [28]:
names.values

array(['kim', 'lee', 'park'], dtype=object)

In [29]:
names.ndim

1

In [30]:
names.shape

(3,)

In [32]:
## nan
pd.Series([1, 2, 3, np.nan])

0    1.0
1    2.0
2    3.0
3    NaN
dtype: float64

In [ ]:
## fancy indexing

In [33]:
f = ['banana', 'apple', 'grape', np.nan]
s = pd.Series(f, index=list('abcd'))
print(s)

a    banana
b     apple
c     grape
d       NaN
dtype: object

In [35]:
s[['a', 'c']]

a    banana
c     grape
dtype: object

In [37]:
s.iloc[[1, 3]]

b    apple
d      NaN
dtype: object

In [38]:
## bool indexing

In [39]:
s

a    banana
b     apple
c     grape
d       NaN
dtype: object

In [40]:
s[[True, False, False, True]]

a    banana
d       NaN
dtype: object

In [43]:
print(s == 'banana')

a     True
b    False
c    False
d    False
dtype: bool

In [44]:
print(s[s == 'banana'])

a    banana
dtype: object

In [45]:
s = pd.Series([1, 2, 3, 4, 5, 6])
s[s>3]

3    4
4    5
5    6
dtype: int64

In [46]:
## nan처리

In [48]:
s = pd.Series([1, 3, np.nan, 10, 11, np.nan])
print(s)

0     1.0
1     3.0
2     NaN
3    10.0
4    11.0
5     NaN
dtype: float64

In [50]:
print(s.isnull())
print(s.isna())

0    False
1    False
2     True
3    False
4    False
5     True
dtype: bool
0    False
1    False
2     True
3    False
4    False
5     True
dtype: bool

In [51]:
s[s.isna()]

2   NaN
5   NaN
dtype: float64

In [53]:
s[s.notnull()]

0     1.0
1     3.0
3    10.0
4    11.0
dtype: float64

In [54]:
## slicing
s[1:3]

1    3.0
2    NaN
dtype: float64

In [56]:
s = pd.Series([1, 2, 3], index=list('abc'))
print(s[1:2])
print(s['a':'c'])

b    2
dtype: int64
a    1
b    2
c    3
dtype: int64

In [ ]:
## dataframe

In [57]:
d = pd.DataFrame([
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
])
d

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [62]:
df = pd.DataFrame([
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
], columns=['가', '나', '다'], 
index=['a', 'b', 'c'])
df

   가  나  다
a  1  2  3
b  4  5  6
c  7  8  9

In [88]:
info = {
    'name': ['kim', 'lee', 'park'],
    'age': [10, 20, 30]
}

In [89]:
info_df = pd.DataFrame(info)

In [90]:
info_df.index

RangeIndex(start=0, stop=3, step=1)

In [91]:
info_df.columns

Index(['name', 'age'], dtype='object')

In [92]:
info_df.values

array([['kim', 10],
       ['lee', 20],
       ['park', 30]], dtype=object)

In [93]:
info_df.dtypes

name    object
age      int64
dtype: object

In [94]:
info_df.T

        0    1     2
name  kim  lee  park
age    10   20    30

In [ ]:
## index 지정

In [95]:
info_df.index = list('abc')

In [96]:
info_df

   name  age
a   kim   10
b   lee   20
c  park   30

In [ ]:
## column 다루기

In [97]:
info_df.columns

Index(['name', 'age'], dtype='object')

In [99]:
print(info_df['name'])
print(type(info_df['name']))

a     kim
b     lee
c    park
Name: name, dtype: object
<class 'pandas.core.series.Series'>

In [102]:
info_df[['age', 'name']]

   age  name
a   10   kim
b   20   lee
c   30  park

In [104]:
info_df = info_df.rename(columns={'name': '이름'})
info_df

     이름  age
a   kim   10
b   lee   20
c  park   30

In [105]:
# info_df = info_df.rename(columns={'이름': 'last_name'}
info_df.rename(columns={'이름': 'last_name'}, inplace=True) # 위와 같음

In [106]:
info_df

  last_name  age
a       kim   10
b       lee   20
c      park   30